<?xml version="1.0" encoding="utf-8"?>
<config>

    <fieldset label="COM_TJREPORTS" name="tjreports">
		<field name="bootstrap_setting" class="btn-group" default="1" type="list" label="COM_TJREPORTS_BOOTSTRAP_SETTING" description="COM_TJREPORTS_BOOTSTRAP_SETTING_DESC">
			<option value="0">None</option>
			<option value="1">Admin</option>
			<option value="2">Site</option>
			<option value="3">Both</option>
		</field>
    </fieldset>
    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_tjreports" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
</config>
