<?xml version="1.0" encoding="utf-8"?>
<config>

    <fieldset label="COM_TJREPORTS" name="tjreports">
    </fieldset>
    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_tjreports" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>


	<fieldset name="permissions"
              description="JCONFIG_PERMISSIONS_DESC"
              label="JCONFIG_PERMISSIONS_LABEL">

        <field name="rules" type="rules" component="com_tjreports"
               class="inputbox" filter="rules" validate="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               section="component"
        />
	</fieldset>
</config>
