<?xml version="1.0" encoding="utf-8"?>
<config>

    <fieldset label="COM_TJREPORTS" name="tjreports">
		<field name="vendars" type="text" default="" label="COM_TJREPORTS_DEFAULT_REPORTS" description="COM_TJREPORT_DEFAULT_REPORTS_DESC" />
    </fieldset>
    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_tjreports" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
</config>
